<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Application properties config files -->
    <context-param>
        <param-name>appPropertiesConfig</param-name>
        <param-value>
            classpath:com/haulmont/cuba/app.properties
            classpath:thesis-app.properties
            classpath:testtasktkachev-app.properties
            /WEB-INF/local.app.properties
            file:${catalina.home}/conf/app-core/local.app.properties
        </param-value>
    </context-param>
    <!-- Used application components -->
    <context-param>
        <param-name>appComponents</param-name>
        <param-value>
            com.haulmont.thesis.app
        </param-value>
    </context-param>

    <!-- Servlet Context listeners -->
    <listener>
        <listener-class>com.haulmont.thesis.core.sys.ThesisAppContextLoader</listener-class>
    </listener>

    <!-- Core Servlets are initialized by com.haulmont.thesis.core.sys.ThesisCoreServletsInitializer -->

</web-app>
